.modal__submit {
  margin-top: 6px;
  width: 86px;
  height: 40px;
}

.modal__signup-button {
  position: absolute;
  bottom: 36px;
  left: 114px;
  border: none;
  color: #00000080;
  background-color: transparent;
  width: 85px;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 0px 0px 0px 12px;
}
